.title {
    text-align: center;
    width: 80%;
    margin: auto;
}

h1 {

}

body {
    font: 16px Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    color: #333;
    background-color: #fff;
}

code {
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0,0,0,0.04);
    border-radius: 3px;
}

.big, .small {
    font-weight: bold;
    color: #fff;
}

.big {
    width: 130px;
    height: 130px;
    background-color: #588C7E;
}

.small {
    width: 75px;
    height: 75px;
    background-color: #D96459;
}

#absolute::after {
    content: "I'm absolute, I don't leave white space\A and I was supposed to be down there\A in the middle of the last two divs\A but who cares I'm absolute";
    position: relative;
    white-space: pre;
    top: 10px;
    color: #333;
    left: 100px;
    padding: 0 2px;
}

#absolute::before {
    content: "";
    position: absolute;
    left: 75px;
    top: 18px;
    height: 2px;
    width: 45px;
    background-color: #000;
}

#relative::after {
    content: "I'm relative, I leave a white space";
    position: relative;
    white-space: nowrap;
    color: #333;
    top: -32px;
    padding: 0 2px;
    border: 1px solid #000;
}

#fixed::after {
    content: "I'm fixed, come on scroll it";
    position: relative;
    white-space: nowrap;
    color: #333;
    top: -32px;
    padding: 0 2px;
    border: 1px solid #000;
}

#fixed::before, #relative::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 2px;
    top: -7.5px;
    left: 73px;
    background-color: #333;
    transform: rotate(-30deg);
    -ms-transform: rotate(-30deg); /* IE 9 */
    -webkit-transform: rotate(-30deg); /* Chrome, Safari, Opera */
}

.interface-container {
    position: relative;
    float: right;
    width: 50%;
    right: 50px;
    top: 100px;
}

.interface {
    position: absolute;
    width: 100%;
}

/* <span>css<span> <span>info<span> */
.toolbar span.active::before {
    position: absolute;
    content: "";
    top: -3px;
    width: 80%;
    height: 2px;
    background-color: #F33FAC;
}

.toolbar span {
    position: relative;
    text-align: center;
    padding: 5px;
    margin-left: 10px;
    font-weight:bold;
    color:#000000;
    font-size:16px;
    font-family:courier new, courier, monospace;
}

.toolbar span:hover {
    cursor: pointer;
}

.info {
    font-size: 20px !important;
    position: absolute;
    top: 20px;
    width: 100%;
    height: 350px;
    border: 2px solid #336699;
    background-color: #fff;
}

.editor {
    font-size: 20px !important;
    position: absolute;
    top: 0;
    width: 100%;
    height: 350px;
    border: 2px solid #336699;
    z-index: 1;
}

.active {
    z-index: 2;
}

.info .content {
    width: 80%;
    margin: auto;
}

.info {
    overflow-y: scroll;
}

.description {
    color: #777;
    font-weight: bold;
}

table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all;
    border-collapse: collapse;
    border-spacing: 0;
    border-color: grey;
}

table th, table td {
    text-align: center;
    border: 1px solid #ddd;
}

table th {
    width: 200px;
}

blockquote {
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #ddd;
}
